.blog {
    background-color: aqua;
    color: blueviolet;
    border: 10px salmon solid;
    border-radius: 10px;
    margin: 15px 8px 15px 8px;
    padding: 20px;
    width: 27%;
    display: inline-block;
}

h1 {
    text-align: center;
}

p {
    font-size: larger;
    padding: 5px;
    text-align: justify;
}